name: Cypress CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 6
      matrix:
        python-version: [3.8]

    steps:
    - uses: actions/checkout@v3
    - name: Install Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14.x'
    - name: Install Cypress
      run: npm install cypress
    - name: Install Vue
      run: npm install -g @vue/cli
    - name: Install dependencies for Vue app
      run: cd duolango-frontend && npm install
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Set Env
      run: |
        echo "${{ secrets.DJANGO_SECRET_KEY2 }}" | base64 -d > _backend/_backend/secrets.py
    - name: Launch Vue server
      run: cd duolango-frontend && npm run serve &
    - name: Launch Django server
      run: cd _backend && python manage.py runserver &
    - name: Run Cypress tests
      run: cd ../duolange-frontend && npx cypress run
